:root{
    --Font-body:'Nunito Sans', sans-serif;
    --Font-header:'Roboto', sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* button,
fieldset,
input,
legend,
select,
textarea{

} */

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-image: url("https://images.unsplash.com/photo-1475483768296-6163e08872a1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    font-family: var(--Font-body);
    color: #fff;
}

main{
    min-width: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

img{
    display: block;
    width: 100%;
}


.login__wrapper{

    display: grid;
    place-content: center;
    padding: 10px;

}

.login__wrapper h2{
    font-family: var(--Font-header);
    margin-bottom: 10px;
    font-size: 3rem;
}

.inputFields{
    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    margin-left: 10px;
}

.inputFields::placeholder{
    color: #fff;
}

input:focus{
    color: whitesmoke;
}


.login__btn{
    margin: 0 auto;
    text-align: center;
    width: 250px;
    border-radius: 10px;
    padding: 3px;
    border: 3px double;
    background-color: transparent;
    transition: .3s ease-in-out;
    color: #fff;
}

.login__btn:hover{
    background-color: #fff;
    border: none;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
}

.login__btn:active{
    background-color: rgb(83, 108, 147);
    color: #fff;
}

.Navigation__Menu{
    /* background-color: lightblue; */
    padding: 10px;
    font-size: 1rem;
}

.Navigation__Menu ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Navigation__Menu li{
    transition: .3s ease-in-out;
    list-style: none;
}

.Navigation__Menu a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .85em;
}

.Navigation__Menu li:hover{
    letter-spacing: 1.5px;
    
}

.Navigation__Menu a:hover{
    font-weight: 700;
    text-decoration: underline;
}