:root{
    --Font-body:'Nunito Sans', sans-serif;
    --Font-header:'Roboto', sans-serif;
}

*,
*::before, 
*::after{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

img, 
svg, 
video, 
picture{
    display: block;
    width: 100%;
}

body{
    font-family: var(--Font-body);
    scroll-behavior: smooth;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 10px; */
}



main{
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.team_member_img{
    max-width: 150px;
    max-height: 150px;
    aspect-ratio: 1/1;
    border-radius: 500px;
    object-fit: cover;
    margin: 10px auto 0px;
}

.team__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.team_member_roles{
    text-align: center;
}