:root{
    --Font-body:'Nunito Sans', sans-serif;
    --Font-header:'Roboto', sans-serif;
}

*,
*::before, 
*::after{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

img, 
svg, 
video, 
picture{
    display: block;
    width: 100%;
}

body{
    font-family: var(--Font-body);
    scroll-behavior: smooth;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 10px; */
}

/*//////////////////////////////// HEADER SECTION ////////////////////////////////*/

.logo{
    height: 100px;
    width: 100px;
    object-fit: cover;
}


.Navigation__Menu{
    /* background-color: lightblue; */
    padding: 10px;
    font-size: 1rem;
}

.Navigation__Menu ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Navigation__Menu li{
    transition: .3s ease-in-out;
    list-style: none;
}

.Navigation__Menu a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .85em;
}

.Navigation__Menu li:hover{
    letter-spacing: 1.5px;
    
}

.Navigation__Menu a:hover{
    font-weight: 700;
    text-decoration: underline;
}

.hero__section{
    position: relative;
}

.hero__section img{
   min-height: 100vh;
   /* max-height: 1000px; */
   object-fit: cover;
   align-content: center;
   opacity: 80%;
}

.hero__overlay {
    font-size: 7rem;
    position: absolute;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--Font-header);
    color: black;
}


.hero__overlay p{
    text-align: center;
    color: rgba(0, 0, 0, 0.917);
}

.small__subheader{
    font-size: .95rem;
}


/*//////////////////////////////// MAIN SECTION ////////////////////////////////*/

.blockQuote__1{
    display: flex;
    text-align: center;
    padding: 5px;
    font-size: 2.25rem;
    margin: 30px;
    /* border: 1px solid firebrick; */
    align-items: center;
    justify-content: center;
    width: 45ch
    
}

/* Main Content section 1  */
.contact__btn{
    width: 6em;
    border-radius: 15px;
    background-color: transparent;
    font-size: 1rem;
    margin: auto;
    margin-top: 10px;
    border: none;
    padding: 2px 5px;
    /* background-color: orange; */
    transition: .3s ease-in-out;
    border: 1px solid ;
    
}

.contact__btn:hover{
    width: 10em;
    letter-spacing: 3px;
    background-color: rgb(74, 93, 128);
    color: whitesmoke;
}

.contact__btn:active{
    background-color: rgb(170, 218, 103);
    color: rgb(254, 253, 253);
    border: none;
}

.mainContent__section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.content_image{
    aspect-ratio: 1/1;
    object-fit: cover;
}

.content_section{
    display: grid;
    place-content: center;
    text-align: center;
    gap: .25rem;
    /* border: 1px solid firebrick; */
}

.content_section p{
    width: 45ch;
}

/*//////////////////////////////// Review Card SECTION ////////////////////////////////*/


.review__title{
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}

.cards__section{
    margin: 10px;
    padding: 5px;
}


.profile__img{
    height: 75px;
    width: 75px;
    display: cover;
    border-radius: 500px;
    outline: 1px solid;
    outline-offset: 3px;
}

.card__upper{
    display: flex;
    gap: 1.25rem;
}

.card__body{
    margin-top: 15px;
    padding: 5px;
    
}

.card__body h3{
    font-size: 1.15rem;
}

.card__body p{
    margin-top: 10px;
    font-weight: 200;
}

.date{
    margin-top: 10px;
    font-size: .85rem;
    padding: 5px;
}
.review__card{
    padding: 15px;
    outline: 1px dashed hsl(0, 0%, 0%);
    outline-offset: 3px;
    max-width: 300px;
    min-height: 400px;
    border-radius: 15px;
    background-color: #9b9696;
    color: white;
}

.reviews__section{
    display: flex;
    gap: 1rem;
    margin: 10px;
    padding: 5px;
}

.customer{
    font-size: 1.25rem;
}
.city{
    font-size: .85rem;
}

.stars__section{
    display: flex;;
}

.stars__icon{
    height: 20px;
    width: 20px;
    color: rgb(255, 230, 91);
}


/*//////////////////////////////// FOOTER SECTION ////////////////////////////////*/

footer{
    background-color: rgb(255, 225, 127);
}

.footer__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid; */
    min-height: 300px;
    place-content: center;
}

.footer__links__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 3rem;
    /* border: 1px solid transparent; */
    padding: 20px;
}


.list__items a{
    text-decoration: none;
    line-height: 2;
    font-weight: 200;
    transition: .3s ease-in-out;
}

.list__items{
    list-style: none;
    /* border: 1px solid ; */
    width: 10rem;
}

.footer__links h3{
    margin-bottom: 10px;
    font-size: 1.35rem;
    font-weight: 300;
}

.list__items a:hover{
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.icons{
    aspect-ratio: 1/1;
    max-height: 2.75rem;
    max-width: 3rem;
    /* border: 1px solid ; */
    transition: .3s ease-in-out;
}

.icons:hover{
    scale: 1.25;
}

.SocialMedia__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: .25em; */
}

.copyrightSection{
    padding: 10px;
}

.copyrightSection p{
    color: #787676;
    font-size: .75rem;
}

hr{
    border: none;
    border-top: 1.25px solid;

}